
<div class = "container pt-5">
  <div class ="row justify-content-center ">
    <div class="col col-lg-12">
      <h3>GUESS YOUR BEST WORD!</h3>
      <ul class="list-group list-group-horizontal">
        <% @letter.each do|word| %>
          <li class ="list-group-item"><%= word %></li>
        <% end %>
    </div>
  </div>

  <div class = "row justify-content-center pt-5">
    <div class ="col col-lg-12 ">
      <form action="score" method="get" data-turbo="false">
        <div class="input-group mb-3">
          <input type = "text" class ="" name="letter" placeholder="Guess your longest word?">
          <input type="submit" class="input-group-text" value="Submit">
        </div>
      </form>
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </div>
</div>
