<div class ="container">
  <div class= "row justify-content-center">
    <h3>RESULTS:</h3>
    <p>Your word: <%= params[:letter] %><p>
    <p>Message: <%= @message %></p>
    <h4><%= link_to "play again", new_path %></h4>
  </div>
<div>
